.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 20px;
}

.container h1 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #C53771;
    text-align: center;
}

.exit {
    display: flex;
    margin-bottom: 20px;
    width: max-content;
}

.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}

@media (max-width: 900px) {
    .main {
        grid-template-columns: 1fr;
    }
}