* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FCF5EB;
    color: #000;
}

button, input, select {
    font-family: 'Montserrat', sans-serif !important;
}

a {
    text-decoration: none;
}