.container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.label {
    width: 100%;
    cursor: pointer;
}

.input {
    display: none;
} 

.typeButton {
    display: block;
    text-align: center;
    padding: 10px;
    border: 1px solid #cbd5e1;
    background: #fff;
    border-radius: 10px;
    font-weight: 500;
    font-family: inherit;
    transition: all 0.2s ease;
    color: #888;
}

.label:hover .typeButton {
  border-color: #F282B0;
  color: #F282B0;
}

.input:checked + .typeButton {
  background-color: #F282B0;
  color: #fff;
  border-color: #F282B0;
  font-weight: 500;
}