.container {
    background: #fff;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
}

.container h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #C53771;
    text-align: center;
}

.fieldWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.errorText {
    color: #e74c3c; 
    font-size: 12px;
    font-weight: 500;
    margin-top: -15px;
    margin-bottom: 10px;
    padding-left: 5px;
    text-align: left;
}
