.container {
    background: #fff;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
}

.container h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #C53771;
    text-align: center;
}